@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>xekina</h1>
    <p class="lead">xekina is a free utility to enable to generate a full development environment and CI/CD stack using Microsoft Azure.</p>
    <p><a href="https://asp.net" class="btn btn-default btn-lg">Learn more &raquo;</a></p>
</div>

<p>In fermentum orci urna, in dignissim nisi facilisis vel. Ut tempor tellus ante. Sed bibendum vel lorem ut condimentum. Vestibulum id nunc urna. In hac habitasse platea dictumst. Aenean semper gravida dui auctor feugiat. Vivamus metus arcu, tincidunt ut lectus nec, aliquam mattis velit. Etiam a auctor augue. Fusce consequat vulputate fringilla. Nam ullamcorper lacus quis tempus fermentum. Aliquam imperdiet justo quis sapien congue sagittis. Cras pulvinar quam dictum eleifend condimentum. Vivamus mauris dui, semper id laoreet vitae, sodales eget nibh. Suspendisse nec nisi id elit elementum aliquam volutpat eu ligula.</p>
<p>Phasellus sit amet erat et odio euismod maximus. Aliquam ut accumsan diam, et pulvinar augue. Etiam imperdiet sagittis lorem. Donec ac justo et dolor aliquet porta. Aliquam erat volutpat. Fusce euismod quam at laoreet hendrerit. Sed tincidunt tellus ac consequat ornare. </p>
</p>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bootswatch Journal</h2>
        <p>This is a temporary link to the bootwatch page for the journal theme to assist with styling</p>
        <p><a class="btn btn-default" href="https://bootswatch.com/journal/">Learn more &raquo;</a></p>
    </div>
</div>