<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-XekinaWeb-20170718073545.mdf;Initial Catalog=aspnet-XekinaWeb-20170718073545;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="XekinaWebContext" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=XekinaWebContext-20170718195636; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|XekinaWebContext-20170718195636.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings file="C:\Users\nhill\Dropbox\Settings Files\xekina.web.settings.config">
    <add key="runMode" value="INTERACTIVE" />
    <add key="BaseProjectName" value="Xekina" />
    
    <add key="ArtifactRepoUri" value="https://github.com/nikkh/xekina.git" />
    <add key="ArtifactRepoFolder" value="Artifacts" />
    <add key="ArtifactRepoBranch" value="master" />
    <add key="LabTemplateFilePath" value="./LabTemplate/azuredeploy.json" />
    <add key="LabTemplateParameterFilePath" value="./LabTemplate/azuredeploy.parameters.json" />
    <add key="LabVMUserId" value="Nick" />
    <add key="UrlBase" value="https://nicks-ms-subscription.visualstudio.com/DefaultCollection" />
    <add key="UrlBaseRelease" value="https://nicks-ms-subscription.vsrm.visualstudio.com/DefaultCollection" />
    <add key="EnvTemplateFilePath" value="./EnvironmentTemplate/azuredeploy.json" />
    <add key="EnvTemplateParameterFilePath" value="./EnvironmentTemplate/azuredeploy.parameters.json" />
    <add key="EnvSQLAdmin" value="Nick" />
    <add key="HostingPlanSkuNamePROD" value="F1" />
    <add key="HostingPlanSkuNameDEV" value="F1" />
    <add key="RequestQueueName" value="requests-local" />
    <add key="GitHubPersonalAccessTokenKeyVaultUri" value="https://xekinadev.vault.azure.net/secrets/GitHubPersonalAccessToken/da84b06f1ad74d60a9070dd01faec6f8" />
    <add key="VstsPersonalAccessTokenKeyVaultUri" value="https://xekinadev.vault.azure.net/secrets/VstsPersonalAccessToken/1aa12fe6c53c4314bd1ba1ea7437f467" />
    <add key="XekinaRedisCacheKvUri" value="https://xekinadev.vault.azure.net/secrets/XekinaRedisCacheConnectionString/233f787336624be3b0c6be1d2e7f4b06" />
    <add key="QueueStorageConnectionStringKvUri" value="https://xekinadev.vault.azure.net/secrets/QueueStorageConnectionString/02d98c499f2c45c6a4a68e6801df14aa" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />

    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>